
.main-section{  
}
.main-section h2{
     margin: 50px 0;
     text-align: center;
     font-size: 2.5rem;
     font-weight: 700;
}

 
// .gallery-grip{
//     break-inside: avoid;
//     width: 100%;
//     margin: 30px auto; 
//     padding: 0 1em;
//     display:grid;
//     grid-template-columns:repeat(auto-fit, minmax(350px, 1fr) ); 
//     gap:1em;
// }



.gallery-grip{
    column-count: 1; 
    column-gap: 18px;
    padding-inline: 1em;
       @media (min-width: 600px) {
        column-count: 1;
    }

    @media (min-width: 900px) {
        column-count: 2;
    }

    @media (min-width: 1200px) {
        column-count: 3;
    }
}